<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML5 프로그래밍</title>
</head>
<style>
    .nav{
        margin: 5px auto;
        display: flex   ;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: blue;
    }
</style>
<body>
<header><h1>방통대 HTML5 프로그래밍 과제</h1></header>
<nav>
    <div >
        <ul class="nav">
            <li><a href="https://www.w3schools.com/html/"><h3>html5</h3></a></li>
            <li><a href="https://www.w3schools.com/css/default.asp"><h3>css</h3></a></li>
        </ul>
    </div>
</nav>
<section>
    <article><h4><a href="homework.html">202234-365625_임명수</a> HTML5프로그래밍 과제 문제 2번 파일 링크</h4>
    </article>
    <article><h4>정보통신의날</h4>
        <iframe src="https://encykorea.aks.ac.kr/Article/E0050262" width="300" height="300"></iframe>
    </article>
    <article><h4>아들 비디오</h4>
        <video width="320" height="240" poster="lej.mp4" controls>
            <source src="lej.mp4" type="video/mp4">
        </video>
    </article>
</section>
<aside style="padding: 10px 0 10px 0;">CSS적용 방법 중 sytle속성(인라인 방법)을 사용하여 2가지 이상의 CSS속성을 본문에 적용</aside>
<footer><h6>방통대 HTML5 프로그래밍 과제를 마칩니다.</h6></footer>
</body>
</html>