<!DOCTYPE html>
<head>
<title></title>
<meta charset="euc-kr">
<meta name="descripttion" content="knou">
<meta name="keywords" content="element_attribute_table">
<meta name="author" content="lms">
<script></script>
<style>
td {text-align:center} 
.subject{ background-color: green}
.rate{ background-color: yellow}
</style>
</head>
<body> 
<section>
<h1>HTML5&nbsp;&nbsp;&nbsp;&nbsp;웹&nbsp;&nbsp;&nbsp;&nbsp;프로그래밍</h1>
<p style="color:white; background-color:black; font-family: Arial, sans-serif; font-weight: bold; font-size:11px; width:15%;">서울, 임명수, 202234-365625</p>

<table border="1">
<caption>표1. 수강교과목 현황</caption>
<tr class="subject"><th>과목</th><th>학년</th><th>학습진도율</th></tr>
<tr><td>컴퓨터보안</td><td>4</td><td><progress value="86.67" max="100"></progress></td></tr>
<tr><td>운영체제</td><td>3</td><td><progress value="80" max="100"></progress></td></tr>
<tr><td>HTML5웹프로그래밍</td><td>2</td><td><progress value="86.67" max="100"></progress></td></tr>
<tr><td>정보통신망</td><td>4</td><td><progress value="80" max="100"></progress></td></tr>
<tr><td>세상읽기와 논술</td><td>2</td><td><progress value="86.67" max="100"></progress></td></tr>
<tr><td>생활과 건강</td><td>4</td><td><progress value="80" max="100"></progress></td></tr>
<tr class="rate"><td colspan=2">평균학습(%)</td><td><progress value="83" max="100"></progress></td></tr>
</table>
</section>
<section>
<p> figure요소는 본문에 삽입된 그림, 다이어그램, 사진, 소스코드, 동영상 등과 같은 독립적인 콘텐츠를 블록화할때 사용</p>

<figure>
  <img src="../static/images/road.png" alt="Family Picture" width="400" heigth="300">
  <figcaption>그림. 경기성남시 분당구 삼평동</figcaption>
</figure>
</section>
</body>
