<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
Weclomete to CI/CD <br>
Github Actions(AWS : ECR/ECS=Fargate)<br>
<br>Geetings from Spring Boot!<br>
<form action="/postTest" method="post" >
    PostMapping Test With Mustache, Docker, AWS ECR/ECS(Fargate) <br>
    Good Job! <br>
    <span><input type="text" id="address" placeholder="test" name="address"/></span>
    <div>
        <button type="submit" class="btn btn-primary" id="btn-save">Search</button>
    </div>
</form>


</body>
</html>